<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>


    <main>
        <% if (locals.quote) { %>
            <h1><%= quote %></h1>
        <% } else { %>
            <h1>Click to get a quote</h1>
        <% } %>
        <form action="/quote" method="post">
            <input type="submit" value="Get Quote">
        </form>
    </main>
</body>
</html>